# Основные библиотеки
moviepy==1.0.3          # Точная версия
requests>=2.25.0        # Минимальная версия
setuptools              # Последняя версия

# Зависимости для MoviePy
imageio==2.31.1
imageio-ffmpeg==0.4.8
numpy>=1.21.0
decorator>=4.4.0

# Дополнительно (если понадобится)
# schedule==1.2.0       # Для планировщика
# pillow==9.5.0         # Если нужна обработка изображений
